@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family-logo: "Tiny5", monospace;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 47, 54, 64;
    --background-end-rgb: 53, 59, 72;
    --text-color-accent: 0, 184, 148;
    --text-color-default: 255, 255, 255;
    --text-color-blue: 0, 191, 255;
    --text-color-red: 241, 48, 49;
  }

  .theme-alternate {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text-color-accent: 90, 200, 140;
  }

  .theme-yellow {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 0;
    --background-end-rgb: 255, 255, 0;
    --text-color-accent: 155, 200, 90;
  }

  .theme-purple {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 0, 255;
    --background-end-rgb: 255, 0, 255;
    --text-color-accent: 230, 45, 2000;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 47, 54, 64;
      --background-end-rgb: 53, 59, 72;
      --text-color-accent: 0, 184, 148;
      --text-color-default: 255, 255, 255;
      --text-color-blue: 0, 191, 255;
      --text-color-red: 241, 48, 49;
    }
  }

  body {
    min-height: 100vh;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
  }
}
